.vs/
src/WarehauseShop.WebUI/obj/
src/WarehauseShop.WebUI/bin/
src/WarehauseShop.Application/obj/
src/WarehauseShop.Application/bin/
src/WarehauseShop.EntityFramework/bin/
src/WarehauseShop.EntityFramework/obj/
src/WarehauseShop.Domain/bin/
src/WarehauseShop.Domain/obj/