@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using WarehauseShop.Domain


<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WarehauseShop.WebUI</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/lib/jquery/dist/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        kontakt@imagazyn24.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +65 11.188.888
                    </div>
                </div>
                <div class="ht-right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <label class="login-panel">Witaj @User.Identity.Name!</label>
                        <a class="login-panel" asp-controller="Account" asp-action=""><i class="fa fa-user"></i>Moje konto</a>
                        if (User.IsInRole(SD.AdminRole))
                        {
                            <a class="login-panel" asp-controller="Account" asp-action="Register"><i class="fa fa-user"></i>Zarejestruj</a>
                        }
                    }
                    else
                    {
                        <a class="login-panel" asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i>Zaloguj</a>
                        <a class="login-panel" asp-controller="Account" asp-action="Register"><i class="fa fa-user"></i>Zarejestruj</a>
                    }

                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="images/flag-3.png" data-imagecss="flag yt"
                                    data-title="Polish">
                                Polish
                            </option>
                            <option value='yt' data-image="images/flag-1.jpg" data-imagecss="flag yt"
                                    data-title="English">
                                English
                            </option>
                            <option value='yt' data-image="images/flag-2.jpg" data-imagecss="flag yu"
                                    data-title="Bangladesh">
                                German
                            </option>
                        </select>
                    </div>
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/images/imagazyn-log.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn">Kategorie</button>
                            <div class="input-group">
                                <input type="text" placeholder="Szukaj przedmiotu">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="heart-icon">
                                <a href="#">
                                    <i class="icon_heart_alt"></i>
                                    <span>1</span>
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="#">
                                    <i class="icon_bag_alt"></i>
                                    <span>3</span>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="si-pic"><img src="~/images/select-product-1.jpg" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$60.00 x 1</p>
                                                            <h6>Kabino Bedside Table</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="si-pic"><img src="~/images/select-product-2.jpg" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$60.00 x 1</p>
                                                            <h6>Kabino Bedside Table</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span>total:</span>
                                        <h5>$120.00</h5>
                                    </div>
                                    <div class="select-button">
                                        <a href="#" class="primary-btn view-card">VIEW CARD</a>
                                        <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-price">$150.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>Kategorie</span>
                        <ul class="depart-hover">
                            <li class="active"><a href="#">Wszystkie kategorie</a></li>
                            <li><a href="#">Pojemniki magazynowe</a></li>
                            <li><a href="#">Sorbenty</a></li>
                            <li><a href="#">Wanny wychwytowe</a></li>
                            <li><a href="#">Lustra drogowe</a></li>
                            <li><a href="#">Regały</a></li>
                            <li><a href="#">Progi drogowe</a></li>
                            <li><a href="#">Beczki i kanistry</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index.html">Strona główna</a></li>
                        <li><a href="./shop.html">Sklep</a></li>
                        <li>
                            <a href="#">FAQ</a>
                            <ul class="dropdown">
                                <li><a href="#">Pojemniki magazynowe</a></li>
                                <li><a href="#">Sorbenty</a></li>
                                <li><a href="#">Wanny ociekowe</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Kontakt</a></li>
                        <li>
                            <a href="#">Strony</a>
                            <ul class="dropdown">
                                <li><a href="./blog-details.html">Blog</a></li>
                                <li><a href="./shopping-cart.html">Kateogire</a></li>
                                <li><a href="./check-out.html">Zapłać</a></li>
                                <li><a href="./faq.html">FAQ</a></li>
                                <li><a href="./register.html">Rejestracja</a></li>
                                <li><a href="./login.html">Logowanie</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/images/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/images/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/images/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/images/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/images/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="~/images/imagazyn-log.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Ades: Miejsce na adres</li>
                            <li>Telefon: +48 698 304 621</li>
                            <li>Email: kontakt@imagazyn24.pl</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Informacje</h5>
                        <ul>
                            <li><a href="#">O nas</a></li>
                            <li><a href="#">Przejdź do płatności</a></li>
                            <li><a href="#">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Moje konto</h5>
                        <ul>
                            <li><a href="#">Moje konto</a></li>
                            <li><a href="#">Kontakt</a></li>
                            <li><a href="#">Koszyk</a></li>
                            <li><a href="#">Sklep</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Zapisz się do Newslettera</h5>
                        <p>Wpisz swój email</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Email">
                            <button type="button">Subskrybuj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">

                        </div>
                        <div class="payment-pic">
                            <img src="img/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="/lib/jquery/dist/jquery-3.3.1.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="/lib/jquery/dist/jquery.countdown.min.js"></script>
    <script src="/lib/jquery/dist/jquery.nice-select.min.js"></script>
    <script src="/lib/jquery/dist/jquery.zoom.min.js"></script>
    <script src="/lib/jquery/dist/jquery.dd.min.js"></script>
    <script src="/lib/jquery/dist/jquery.slicknav.js"></script>
    <script src="/lib/jquery/dist/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.4.10/cleave.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.4.10/addons/cleave-phone.us.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
