@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Category";
}
<div class="border-white container">
    dwadaw
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="colr-6 text-right">
            <a asp-page="/Upsert" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp; Create New</a>
        </div>
    </div>
</div>